@font-face{
font-family: 'Carton';
src: url(../fonts/CartonSlab.otf);}
@font-face{
font-family: 'MyriadPro';
src: url(../fonts/MyriadProBold.otf);}
@font-face{
font-family: 'MyriadPro';
src: url(../fonts/MyriadProRegular.otf);}
@font-face{
font-family: 'MyriadProLight';
src: url(../fonts/MyriadProSemibold.otf);
}
*{
	margin: 0;
	padding: 0;
}

 .title-text
{
	font-family: 'Carton';
	font-size: 3.75em;
	color: #fff;
	text-align: center;
}

 .under-title-text
{
	font-family: 'MyriadPro';
	font-size: 1.2em;
	color: #EEE;
	display: inline-block;
	width: 100%;
	line-height: 1.5;
	margin-top: 1em;
	padding-bottom: 0em;
}

.main
{
	width: 100%;
	height: 670px;
	background: #a5d2da;	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #3a494c;
}

.header
{
	width: 65%;
	height: 13vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo
{
	width: 40%;
	height: 50px;
	display: flex;
	cursor: pointer;
}
.logo img
{
	width: 50px;
	height: 50px;
}
.logo span
{
	font-family: 'Carton';
	font-size: 2em;
	display: block;
	line-height: 50px;
	margin-left: 0.5em;
	max-width: 100%;
}
.menu
{
	width: 60%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	list-style-type: none;	
	align-items: center;
}
.menu ul
{
	list-style-type: none;
	display: flex;
}

.menu-link
{
	font-family: 'MyriadPro';
	font-weight: bold;
	text-decoration: none;
	color: #3a494c;
	font-size: 1.44em;
	padding: 0.4em 1em;
	display: block;
	border-radius: 0.5em;	
	margin-right: 0.5em;
}

ul .active .menu-link, .menu-link:hover
{
	color: #A5D3DB;
	background:#3A494C;
}
.main-slider
{
	width: 65%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	justify-content: center;
	padding-top: 4em;
}
.mac
{
	/*max-width: 100%;*/

}
.main-slider p
{	
	width: 60%;
	font-family: 'Carton';
	text-align: center;
	font-size: 3.8em;
	color: #fff;
}


.slider-dots
{
	width: 65%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	justify-content: center;
	padding-bottom: 2em;
}
.slider-dots ul li
{
	list-style-type: none;	
	display: inline-block;
}
.dot
{
	width: 25px;
	height: 25px;
	display: block;
	border-radius: 25px;
	border: 2px solid #fff;
	margin-right: 1em;
	cursor: pointer;
}
.active .dot
{
	background: #fff;
}

.icons-bg
{
	margin: auto;
	width: 65%;
	height: 525px;
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.block
{
	flex-basis: 32%;
	height: 325px;
	text-align: center;
}
.block img
{
	cursor: pointer;
	transition: 0.5s;
	max-width: 100%;
}
.block img:hover
{
	transform: scale(1.2,1.2);
}
.title
{
	font-family: 'MyriadPro';
	font-weight: bold;
	color: #323232;
	font-size: 1.44em;
	padding-top: 1.5em;
	cursor: pointer;
}
.text
{
	font-family: 'MyriadPro';
	color: #5e5e5e;
	font-size: 1.2em;
	line-height: 1.6em;
	padding: 1.5em;
}

.recent-works-bg
{
	width: 100%;
	height: 1330px;
	background: #9bd6a7;	
	display: flex;
	flex-direction: column;
	align-items: center;
}
.recent-works-text
{
	text-align: center;
	padding-top: 4em;
}

 .recent-works-text .under-title-text
 {
 	width: 62%;
 }
.works-menu
{
	width: 45%;
	height: 5vh;
	margin:  auto;
	line-height: 5vh;
}
.works-menu ul
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style-type: none;	
}
.works-menu ul .active .works-link
{
	padding: 0.3em 0.8em 0.3em 0.8em;
	display: block;
	background: #fff;
	color: #a2a3a3;
	text-align: center;
	border-radius: 15px;
}


.works-link
{
	font-family: 'MyriadProLight';
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 1.5em;
}

.recent-works-img
{
	width: 65%;
	height: 650px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.recent-works-img img
{
	transition: 0.5s;
}
.recent-works-img img:hover
{
	transform: scale(1.2,1.2);
}
.bt-works
{
	width: 65%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bt-showmore 
{
	display: block;
	width: 190px;
	height: 85px;
	background: #fff;
	border-radius: 0.5em;
	font-family: 'MyriadPro';
	text-decoration: none;
	font-weight: bold;
	line-height: 85px;
	font-size: 1.4em;
	text-transform: uppercase;
	color: #a2a3a3;
	text-align: center;
	transition: 0.3s;
}
.bt-showmore:hover
{
	background: #a2a3a3;
	color: #fff;
}

.blog-bg
{
	width: 100%;
	height: 955px;
	background: #fff;
}
.blog-all
{
	width: 60%;
	margin: 3em auto;
	display: flex;
	flex-direction: column;
}

.block1
{
	display: flex;
	border-bottom: 1px solid #cacaca;
	padding: 6em 0.5em 6em 0;
	justify-content: space-between;
}
.block1 img
{
	max-width: 100%;
}

.block-text-bt , .block-text-bt2
{
	flex-basis: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.block-text-bt span, .block-text-bt2 span

{
	font-family: 'MyriadPro';
	font-weight: bold;
	font-size: 2em;
	color: #3f3f3f;

}
.block-text-bt p, .block-text-bt2 p
{
	font-family: 'MyriadPro';
	font-size: 1.5em;
	color: #515151;
	line-height: 1em;
}

.block-text-bt .bt-showmore
{
	background: #9ad4a6;
	color: #fff;
}

.block2
{
	display: flex;
	flex-direction: row-reverse;
	padding: 6em 0em 6em 0em;
	justify-content: space-between;
}
.block-text-bt2 .bt-showmore
{
	background: #a5d3db;
	color: #fff;
}

.block-text-bt .bt-showmore:hover, .block-text-bt2 .bt-showmore:hover
{
	background: #3a494c;
}

.team-bg
{
	height:950px;
	background: #dfb7c5;
}

.team-block
{
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 5em 0 5em 0;
}
.team-title .under-title-text
{
	width: 62%;
}
.team
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 6.3em; 

}

.team-people
{
	width: 345px;
	height: 515px;
	background: #fff;
	display: flex;
	flex-direction: column;
	align-content: flex-end;

}
.team-people img
{cursor: pointer;}

.icon-bg
{
	width: 100%;
	height: 235px;
	background: #e9e9e9;
	display: flex;
	align-items: center;
	justify-content: center;

}

.team-people span
{
	font-family: 'Carton';
	font-size: 2.3em;
	margin-top: 0.5em;
}
.team-people span a
{
	text-decoration: none;
	color: #383838;
}
.team-people p
{
	font-family: 'MyriadPro';
	font-weight: bold;
	color: #383838;
	font-size: 1.43em;
	margin-top: 0.5em;

}

.team-people .team-text
{
	width: 80%;
	font-family: 'MyriadPro';
	font-weight: normal;
	line-height: 1.2em;
	color: #909090;
	font-size: 1.37em;
	margin: auto;

}
.team-social-icons
{	width: 50%;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	margin: auto;
	transition: 0.5s;
}
.team-social-icons img:hover
{
	cursor: pointer;
	transform: scale(1.1,1.1);
}


.post-bg
{
	height: 1020px;
	background: #b4d5e1;
}

.post
{
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	text-align: center;
	justify-content: space-between;
	padding: 5em 0 5em 0;
	/*border:2px solid red;*/
}
.post-title .under-title-text
{
	width: 45%;
}
.post-block-all
{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 6.3em; 
	padding: 1em 0 6em 0;

}

.post-block
{
	width: 385px;
	height: 440px;
	background: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: flex-end;
}

.post-icon-bg
{
	width: 100%;
	height: 195px;
	background: #e9e9e9;
	display: flex;
	align-items: center;
	justify-content: center;

}

.post-block span
{
	font-family: 'MyriadPro';
	font-weight: bold;
	font-size: 2em;
	margin-top: 0.7em;
}

.post-block span a
{
	text-decoration: none;
	color: #383838;
}
.post-block p
{
	font-family: 'MyriadPro';
	font-weight: normal;
	font-style: italic;
	color: #383838;
	font-size: 1.2em;
	margin-top: 0.5em;
}


.post-block .post-text
{
	width: 90%;
	font-family: 'MyriadPro';
	font-weight: normal;
	font-style: normal;
	line-height: 1.2em;
	color: #909090;
	font-size: 1.2em;
	margin: auto;
}

.post-bt .bt-showmore
{
	background: #fff;
	color: #b4d5e1;
	margin: auto;
}
.post-bt .bt-showmore:hover
{
	background: #3a494c;
	color: #fff;
}

/*---------------------------------CONTACTS-BLOCK*/


.contact-bg
{
	height: 1145px;
	background: #3c3d3d;
}

.contact
{
	width: 65%;
	height: 90%;
	margin: auto;
	padding: 5em 0em 0em 0em;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-between;
	align-items: center;
}


.contact-title .under-title-text
{
	width: 62%;
	color:#d3d0d0;
}
.contact-title .title-text
{color:#d3d0d0;}

.form
{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5em;
}

input[type="text"], textarea
{
	width: 760px;
	height: 80px;
	font-family: 'MyriadProLight';
	font-weight: bold;
	font-size: 1.8em;
	color: #3c3c3c;
	margin-bottom: 1em;
	border-radius: 0.5em;
	padding-left: 1.5em;
	border: 0px solid black;
}
textarea 
{
	height: 210px;
	padding-top: 0.5em;
}

::placeholder 
{
	color: #a3a3a3;
}

.contact .bt-showmore
{
	background: #fff;
	color: #3c3c3c;
	margin-bottom: 4em;
	transition: 0.3s;
}

.contact .bt-showmore:hover
{
	background: #d3d0d0;
}
.footer
{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #000;
	padding-top: 2.5em;
}

.footer-icons
{
	width: 25%;
	display: flex;
	list-style-type: none;
	justify-content:space-between;
}
.footer-icons img
{
	transition: 0.3s;
}
.footer-icons img:hover
{
	cursor: pointer;
	transform: scale(1.2,1.2);
}
.copyright
{
	font-family: 'MyriadPro';
	font-size: 1.375em;
	color: #fed57e;
}

.copyright span
{
	color: #a2a3a3;
}



